$yellow: #c0cf1b;
$red: #f70707;
$green: #06d11b;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
;
.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $red;
    @include margenes(10px, 0px);
}

.card-hotel {
    @include margenes(10px, 0px); 
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}