@yellow: #e8fc0d;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
  background-color: #c0cf1b;
  color: black;
    .margenes(50px, 0px);    
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #c0cf1b;
  .margenes(10px, 0px);
}

.card-hotel {
    .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
